<% layout('layouts/biolerplate') %>

<div class="row py-5 mx-2 my-2">

    <div class="col-md-6 mx-auto">
        <%- include('../partials/flash') %> 
        <h1 class="display-8 my-3 font-weight-bold">Login</h1>
        <form action="/login" method="POST" class="dev-form">

            <div class="mb-3">
                <label class="form-label" for="username"> Username: </label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username">
            </div>


            <div class="mb-3">
                <label class="form-label" for="password"> Password: </label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-md btn-success">Login</button>
            <p class="fw-light mt-2"> Dont have an account ,<a href="/register">Signup</a> </p>
        </form>

    </div>

</div>