<% layout('layouts/biolerplate') %>
<%- include('../partials/flash')  %>


<div class="row">
    <div class="col-md-6 mx-auto my-3">
        <%- include('../partials/flash') %> 
        <h1 class="display-6">Sign up</h1>
        <form action="/register" method="POST" class="dev-form">

            <div class="mb-3">
                <label class="form-label" for="username"> Username: </label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username">
            </div>

            <span>Enter the Role : </span>
            <div class=" mx-3">
                <div class="my-1">
                    <label for="form-label" for="seller">Seller : </label>
                    <input type="radio" id="seller" value="seller" name="role">
                </div>
                <div class="my-1">
                    <label for="form-label" for="buyer">Buyer : </label>
                    <input type="radio" id="buyer" value="buyer" name="role">
                </div>
            </div>

            <div class="mb-3 my-3">
                <label class="form-label" for="email"> Email: </label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email">
            </div>

            <div class="mb-3">
                <label class="form-label" for="password"> Password: </label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-sm btn-success">Sign Up</button>
            <p class="fw-light mt-2"> Already have an account,<a href="/login">Login</a> </p>

        </form>

    </div>

</div>